<% if !@tracked_stocks.empty? %>
  <table class="table table-bordered table-hover col-sm-9">
    <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= stock.last_price %></td>
            <td>
              <% if current_user.can_track_stock?(stock.ticker) %> <!-- can_track_stock is a method created in the model file -->
              <%= link_to "Add to Portfolio", user_stocks_path(user: current_user, ticker: stock.ticker), class: "btn btn-sm btn-success", method: :post %>
              <% elsif current_user.id != @user.id %>
                <span class="badge badge-danger">
                  You are tracking
                  <% if !current_user.under_stock_limit? %> <!-- Remember these methods come from the User Model -->
                    10 Stocks!
                  <% end %>
                  <% if current_user.stock_already_tracked?(stock.ticker) %>
                    this stock!
                  <% end %>
                </span>
              <% end %>
            
            <% if current_user.id == @user.id%>
              <%= link_to 'Remove', user_stock_path(stock) , method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-warning small-button' %>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <h3><%= current_user.full_name %>! You don't seem to be Tracking any Stocks...</h3>
    </tbody>
  </table>
<% end %>