<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
   <!-- <div class="card card-header results-block"> -->
    <table class="col-md-10">
      <tbody>
        <% @friends.each do |friend| %>
          <tr class="card card-header results-block">
            <td><strong>Name: </strong> <%= friend.full_name %></td>
              <td><strong>Email: </strong> <%= friend.email %></td>
              <td></td>
              <td><%= link_to "View #{friend.first_name}'s Profile", "#",
                                            class: "btn btn-primary btn-sm " %>
              </td>
              <td><% if current_user.not_friends_with?(friend.id) %> <!-- Method "not_friends_with?" - Created in User model -->
                <%= link_to "Follow #{friend.first_name}?", friendships_path(friend: friend),
                                      class: "btn btn-sm btn-success ml-1", method: :post %><br />
                  <% else %>
                  <span class="badge badge-pill badge-warning">You are already friends</span>
                  <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <!-- </div> -->
 <% end %> 