<h1>My Portfolio</h1>
<div class="search-area pt-5">
  <h3>Search Stocks</h3>

  <%= form_tag search_stock_path, method: :get do %> <!-- This shows the form and the Button -->
    <div class='form-group row'>
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success btn-lg" do %>
           <i class="fa fa-search "></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @stock %>
  <div class="card card-header results-block "> <!-- This section renders the stock views below the form -->
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
    <!-- Might see an error " undefined method `ticker' for nil:NilClass " to resolve use <%# if @stock %>-->
  </div>
<% end %>


